body{
  margin-top: 70px;
}

.single-view-main {
  margin-top: 1rem;
  background-color: #f0f0f0;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.img-div-single {
  display: grid;
  gap: 2;
  grid-template-columns: 2fr 1fr;
  width: 700px;
}



#img-single-view {
  position: relative;
  width: 100%;
  height: -webkit-fill-available;
  gap: 2;
  object-fit: cover;
}

#img-single-view::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#img-single-view img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.chck-grid-single {
  display: grid;
  grid-template-columns: 1fr;
  
}

@media (min-width: 768px) {
  .chck-grid-single {
    grid-template-columns: 2fr 1fr;
    
  }
}


.chck-grid-single__details {
  margin-top: 20px;
}

.chck-grid-single__label {
  font-weight: 600;
  margin-bottom: 20px;
}

.chck-grid-single__value {
  font-weight: 400;
}

#head-price{
  font-size: xx-large;
  font-weight: 400;
}

.chck-grid-single .border {
  border-radius: 1rem;
  border: 1px solid;
}

.chck-grid-single .py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.chck-grid-single .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.chck-grid-single label {
  font-weight: 600;
  display: block;
}
.chck-grid-single__icon{
  margin-right: 20px;
}
.chck-grid-single input[type="date"]
 {
  width: 100%;
  border-radius: 6px;
  border-color: #dee2e6;
  border-style: solid;
  height: 35px;
  margin-top: 10px;
}

.chck-grid-single button {
  margin-top: 1rem;
}

.chck-grid-single .primary {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  font-weight: 600;
  color: white;
  background-color: #011742;
}

.chck-grid-single__facility {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chck-grid-single__facility-icon {
  margin-right: 20px;
}

.btn-show-all{
  position: absolute;
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  background-color: white;
  color: black;
  bottom: 3px;
  padding: 2px;
  left: 545px;
  font-weight: 600;
  border-style: solid;
}