.centered-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;   
    
    box-shadow: color( red green blue);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}  

.profile-card-partner-account{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 
    
}

.partner-profile-card-acc-data{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 40px;
    gap: 20px;
 
}

.partner-acc-info{
    font-weight: 500;
    color: #353b76;
}

.typo{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}