.mbsc-ios .mbsc-form-grid .mbsc-textfield-wrapper {
    margin: 0.75em 1em;
}


#form-add-cruise{
    width: 75%;
    background-color: rgb(215, 241, 255);
    border-radius: 20px;
}

#add-cruise-head{
    color:#0064ff;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
#add-cruise-submit{
margin-top: 20px;
margin-bottom: 20px;

}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image{
    margin: 1rem 0.5rem;
    position: relative;
    box-shadow: rgba(0, 0,0, 0.05) 0px 1px 2px 0px;
}

.del-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border: none;
    color: white;
   
}

#img-indx{
    padding:0 0.5rem;
    margin: 0;
}
