.tabview-demo .tabview-custom i, .tabview-demo .tabview-custom span {
    vertical-align: middle;
}

.tabview-demo .tabview-custom span {
    margin: 0 .5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.tabview-demo .p-button {
    margin-right: .25rem;
}

.tabview-demo .p-tabview p {
    line-height: 1.5;
    margin: 0;
   margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
                
.tabview-demo{
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#cruise-map-img{
   
    display: flex;
    /* flex-direction: row; */

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:200px;
    
}

.cruie-map-img-div{
    display: flex;
    flex-direction: row;
    
}
#posters{
    width: 100%; 
    overflow-x: scroll; 
    /* overflow-y: hidden; */
      scrollbar-width: none; 
  -ms-overflow-style: none; 
} 

 #posters::-webkit-scrollbar{
    
    display: none;
}
.cruise-map-img{
    display: flex;
    gap: 20px;
    width: 100vw;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap; 
  }
  
  .cruie-map-img-div {
    flex-shrink: 0;
  }
  
  #cruise-map-img {
    max-width: 100%;
    max-height: 100%;
  }
