.centered-container-partner-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: color( red green blue);
}  

.profile-card-partner{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
 
    
}
.profile-pic-partner{
    margin-left: 50px;
    border-radius: 5px;
    border-style: double;
    border-color:#00ff68 ;
}
.partner-profile-card-data{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 40px;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
 
}

.partner-info{
    font-weight: 600;
    color: #353b76;
}

.partner-info input{
    

}